{{#each appointments as |appointment|}}
  <section data-id="{{appointment.id}}">

    <h6>
      <div class="col-4 col-md-3 box alt-color float-left">ID: {{appointment.id}} </div>
      <div class="col-4 col-md-3 box alt-color float-left">Date: {{appointment.date}} </div>
      <div class="col-4 col-md-3 box alt-color float-left">User_email: {{appointment.user.email}} </div>
      <div class="col-4 col-md-3 box alt-color float-left">Dealer_name: {{appointment.dealer.name}} </div>
    </h6>

    <h3>
    </h3>

    <h3>
    </h3>
  </section>

{{/each}}
