{{#each appointments as |appointment|}}
  <!-- {{log appointment}} -->
  <section data-id="{{appointment.id}}">
    <!-- {{printSomething}} -->
    <!-- // printSomething is a helper defined in the helper folder "printSomething" file
    // don't need the require function here. It's handled by "Webpack" -->
    <h6>
      <div class="col-6 col-md-3 box alt-color float-left">ID: {{appointment.id}} </div>
      <div class="col-6 col-md-3 box alt-color float-left">Date: {{appointment.date}} </div>
      <div class="col-6 col-md-3 box alt-color float-left">User_email: {{appointment.user.email}} </div>
      <div class="col-6 col-md-3 box alt-color float-left">Dealer_name: {{appointment.dealer.name}} </div>
    </h6>
    <!-- <h6>Year: {{appointment.year}}</h6>
    <h6>ID: {{appointment.id}}</h6> -->
    <h3>
    </h3>

    <h3>
    </h3>
    <!-- {{> partial}}
    {{#if editable}}
    <! using editable to check if the user is allowed to edit this field -->
    <!-- <button data-id="{{book.id}}" class="btn btn-danger delete-btn">Remove Book</button> -->
    <!-- {{/if}} -->
<!-- Repeat the data-id here, though not DRY, it makes DOM traversing faster -->
  </section>

{{/each}}
