{{#each favcars as |favcar|}}
  <section data-id="{{favcar.id}}">
    <h6>
      <div class="col-6 col-md-4 box alt-color float-right">Location: {{location.name}} </div>
      <div class="col-6 col-md-4 box alt-color float-right">Temperature: {{location.temperature}} </div>
      <div class="col-6 col-md-4 box alt-color float-right">Humidity: {{location.humidity}} </div>
      <div class="col-6 col-md-4 box alt-color float-right">Conditions: {{location.conditions}} </div>

    </h6>
    <h3>
    </h3>

    <h3>
    </h3>
  </section>

{{/each}}
